<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container">
            <a class="navbar-brand" href="{% url 'index'%}">Sedu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-primary">
              <div class="navbar-collapse-header">
                <div class="row">
                  <div class="col-6 collapse-brand">
                    <a href="index.html">
                      <img src="assets/img/brand/blue.png">
                    </a>
                  </div>
                  <div class="col-6 collapse-close">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
                      <span></span>
                      <span></span>
                    </button>
                  </div>
                </div>
              </div>
              <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'index'%}">Anasayfa
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item {% if request.path == '/hikayeler/' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'articles:showArticles'%}">Hikayeler</a>
                </li>
                <li class="nav-item {%  if 'hikaye-gonder' in request.path %}active{% endif %}">
                  <a class="nav-link" href="{% url 'articles:addarticle'%}">Bize Hikaye Gönder</a>
                </li>
                <li class="nav-item {% if request.path == '/about/' %}active{% endif %}">
                  <a class="nav-link " href="{% url 'about'%}">Hakkımızda</a>
                </li>
                  {% if request.user.is_authenticated %}
                    {% include "includes/navbar/logged_in_navbar.html" %}
                  {% else %}
                    <!--{% include "includes/navbar/not-login.html" %}-->
                  {% endif %}
              </ul>
            </div>
          </div>
        </nav>




         