<div class="row"> 
    <div class="col-sm-12">
        <div class="text-center">
            <a href="{% url 'articles:showArticles'%}" class="btn btn-primary my-1">Hepsi&nbsp;&nbsp;&nbsp;</a>
            <a href="{% url 'articles:showGrade1' %}" class="btn btn-info my-1">1. Sınıf</a>
            <a href="{% url 'articles:showGrade2' %}" class="btn btn-success my-1">2. Sınıf</a>
            <a href="{% url 'articles:showGrade3' %}" class="btn btn-danger my-1">3. Sınıf</a>
            <a href="{% url 'articles:showGrade4' %}" class="btn btn-warning my-1">4. sınıf</a>
        </div>
    </div>
</div>