<div class="sun_side_widget card indigo lighten-5"> 

  <div class="sun_pic_info text-center">

    <div class="user-avatar flip">
      <img class=" pointer"src="{{user.Avatar.url}}" alt="">
    </div>

    <div class="info">
      <div class="title">
        <a href="">{{user.username}}</a>
      </div>
        <a>Gönderi Sayısı</a>
    </div>

   <li class="list-group-item indigo lighten-5">
		 Meslek:
  </li>
  <li class="list-group-item indigo lighten-5">
		 Katılma Tarihi:
  </li> 
  <li class="list-group-item indigo lighten-5">
		 Beğeniler:
  </li> 


  </div>










</div>